#contact{
   margin: 0 5% 0 5%;
}
.profile-container {
   padding:  4% 7% 4% 7%;
}
.profile-card {
   padding: 40px 60px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: #fff solid 4px;
   transition: 0.2s;
   box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.profile-card:hover {
   transform: scale(1.06);
   box-shadow: rgba(41, 41, 43, 0.2) 0px 7px 29px 0px;
   z-index: 10;
   border: none;
}

.profile-icon {
   height: 100px;
   width: 100px;
   object-fit: cover;
   border-radius: 50%;
}

.only-start {
   background: linear-gradient(to bottom, rgb(34, 33, 33), rgb(34, 33, 33) 100px, white 1rem, white 100%);
}

.profile-name {
   font-size: 20px;
   font-weight: bold;
   margin: 25px 0 10px 0;
}

.profile-position {
   font-size: 14px;
   color: #777;
}

@media screen and (max-width: 991px) {
   .profile-name {
      font-size: 18px;
   }

   .profile-container {
      padding:  4% 15% 4% 15%;
   }
}

@media screen and (max-width: 768px) {
   .profile-card {
      padding: 25px 15px;
   }

   .only-start {
      background: linear-gradient(to bottom, rgb(34, 33, 33), rgb(34, 33, 33) 80px, white 1rem, white 100%);
   }

   .profile-card {
      padding: 20px 0px;
   }

   .profile-name {
      font-size: 16px;
   }

   .profile-container {
      padding:  4% 25% 4% 25%;
   }
}

@media screen and (max-width: 500px) {

   .profile-card {
      padding: 20px 0px;
   }
   
   
.profile-icon {
   height: 70px;
   width: 70px;
   object-fit: cover;
   border-radius: 50%;
}

.only-start {
   background: linear-gradient(to bottom, rgb(34, 33, 33), rgb(34, 33, 33) 60px, white 1rem, white 100%);
}
}
