.profile-container {
   padding: 5%;
}
.profile-card {
   padding: 40px 60px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 4px;
   border: #fff solid 4px;
   transition: 0.2s;
}
.profile-card:hover {
   transform: scale(1.06);
   box-shadow: rgba(41, 41, 43, 0.2) 0px 7px 29px 0px;
   z-index: 10;
   border: none;
}

.profile-icon {
   height: 100px;
   width: 100px;
   object-fit: cover;
   border-radius: 50%;
}

.only-start {
   background: linear-gradient(to bottom, rgb(34, 33, 33), rgb(34, 33, 33) 100px, white 1rem, white 100%);
}

.profile-name {
   font-size: 20px;
   font-weight: bold;
   margin: 25px 0 10px 0;
}

.profile-position {
   font-size: 14px;
   color: #777;
}

@media screen and (max-width: 1000px) {
   .profile-name {
      font-size: 18px;
   }
}

@media screen and (max-width: 800px) {
   .profile-card {
      padding: 25px 15px;
   }

   .profile-name {
      font-size: 16px;
   }
}
