:root {
/* 3c368a */
   --dashboard:#4b44ad;
   /* --main:#3C0C97; */
 }

/* Dashboard homepage */
.dashboard {
   background: #fafafa;
}
.white-bk {
   background-color: #fff;
   box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
   margin: 2%;
   margin-top: 10%;
   padding: 5%;
   border-radius: 25px;
   box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.06);
}
.dashboard-row {
   margin-left: 10px;
}

.dashboard-heading {
   font-family: "Raleway", sans-serif;
   font-size: 25px;
}
.ibeto-heading{
   font-size: 32px;
 
}
/*--------------------------- LEFT SECTION: dashboard-timeline --------------------------- */
.dashboard-timeline-row {
   width: 75%;
}
.dashboard-timeline {
   line-height: 1.9em;
   list-style: none;
   margin: 0;
   padding: 0;
   width: 100%;
   color: #768390;
   font-size: 13px;
  
}
.dashboard-timeline-title {
   color: #3d4351;
   margin-top: 0;
   font-size: 15px;
}

/*----- dashboard-timeline ITEM -----*/
.dashboard-timeline-item {
   position: relative;
   padding: 0px;
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 10px;
}
.dashboard-timeline-item:last-child {
   padding-bottom: 0;
}

/*----- dashboard-timeline INFO -----*/
.dashboard-timeline-info {
   font-size: 12px;
   font-weight: 500;
   letter-spacing: 2px;
   margin: 0 0 0.5em 0;
   white-space: nowrap;
}

/*----- dashboard-timeline MARKER -----*/
.dashboard-timeline-marker {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   width: 15px;
}
.dashboard-timeline-marker:before {
   background: #4b44ad;
   border: 3px solid transparent;
   border-radius: 100%;
   content: "";
   display: block;
   height: 15px;
   position: absolute;
   top: 4px;
   left: 0;
   width: 15px;
   transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.dashboard-timeline-marker:after {
   content: "";
   width: 3px;
   background: #ccd5db;
   display: block;
   position: absolute;
   top: 24px;
   bottom: 0;
   left: 6px;
}
.dashboard-timeline-item:last-child .dashboard-timeline-marker:after {
   content: none;
}

.dashboard-timeline-item:not(.period):hover .dashboard-timeline-marker:before {
   background: transparent;
   border: 3px solid #4b44ad;
}

/*----- dashboard-timeline CONTENT -----*/
.dashboard-timeline-content {
   padding-bottom: 20px;
}
.dashboard-timeline-content p:last-child {
   margin-bottom: 0;
}

/*--------------------------- CENTRAL SECTION: dashboard-timeline --------------------------- */
.central-section {
   transform: translateX(-15%);
}

/* Current phase */
.submissionForm-row,
.currentphase-row {
   padding: 5%;
   width: 120%;
}
h1.ss-form-title {
   display: none;
}
.currentphase-row {
   font-size: 16px;
}

.currentphase-text p {
   font-size: 17px;
}
.dashboard-phase-btn {
   display: block;
   margin: 0 auto;
   font-size: 13px;
   text-decoration: None !important;
   background-image: linear-gradient(
      90deg
      ,#7819bb,#4b44ad);
          color: #fff;
   border: 0px solid #fff;
   outline: none;
   transition: color 0.5s;
   border-radius: 10px;
   padding: 2%;
   text-align: center;
   width: 50%;
   cursor: pointer;
}

 .dashboard-phase-btn:hover {
   color: #4b44ad;
   background: white;
   border: 1px solid #4b44ad;
  }
  iframe {
   width: 450px;
}
/* progress bar */
.progress {
   width: 85px;
   height: 85px;
   line-height: 120px;
   background: none;
   margin: 0 auto;
   box-shadow: none;
   position: relative;
   margin-top: 10%;
}
.progress:after {
   content: "";
   width: 100%;
   height: 100%;
   border-radius: 50%;
   border: 7px solid #eee;
   position: absolute;
   top: 0;
   left: 0;
}
.progress > span {
   width: 50%;
   height: 100%;
   overflow: hidden;
   position: absolute;
   top: 0;
   z-index: 1;
}
.progress .progress-left {
   left: 0;
}
.progress .progress-bar {
   width: 100%;
   height: 100%;
   background: none;
   border-width: 7px;
   border-style: solid;
   position: absolute;
   top: 0;
   border-color: var(--dashboard);
}
.progress .progress-left .progress-bar {
   left: 100%;
}
.progress .progress-right {
   right: 0;
}
.progress .progress-right .progress-bar {
   left: -100%;
   border-top-left-radius: 75px;
   border-bottom-left-radius: 75px;
   border-right: 0;
   -webkit-transform-origin: center right;
   transform-origin: center right;
}
.progress .progress-value {
   display: flex;
   border-radius: 50%;
   font-size: 13px;
   padding-left: 15%;
   text-align: center;
   line-height: 10px;
   align-items: center;
   justify-content: center;
   height: 100%;
   font-weight: 450;
}

.progress[data-percentage="20"] .progress-right .progress-bar {
   animation: loading 1.5s linear forwards;
}
.progress[data-percentage="20"] .progress-left .progress-bar {
   animation: 0;
}

@keyframes loading {
   0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
   }
   100% {
      -webkit-transform: rotate(72);
      transform: rotate(72deg);
   }
}

.progress {
   margin-bottom: 1em;
}

/*--------------------------- Right SECTION:  --------------------------- */
/* Contact us */
.contactUs-row {
   width: 75%;
   height: 7%;
   margin-left: 15%;
   padding-left: 10%;
   padding-right: 10%;
   background-image: linear-gradient(to right,#7819bb, #4b44ad);
}
.sendmailbtn,
.sendmailbtn :hover {
   text-decoration: none;
   color: inherit !important;
}

.contactUs-text {
   font-size: 18px;
   line-height: 0.4;
   font-weight: 200px;
   color:rgb(221, 218, 224);
}

/* FAQ */
.faq-row {
   width: 75%;
   margin-left: 15%;
}

.faq .faq-card {
   border: none;
   background: none;
   border-bottom: 1px dashed #cee1f8;
}

.faq .faq-card .faq-card-header {
   padding: 0px;
   border: none;
   background: none;
   transition: all 0.3s ease 0s;
}

.faq .faq-card .faq-card-header:hover {
   background: rgba(74, 30, 233, 0.1);
   padding-left: 10px;
}
.faq .faq-card .faq-card-header .faq-title {
   font-family: "Open Sans", sans-serif;
   width: 100%;
   text-align: left;
   padding: 0px;
   padding-left: 5px;
   padding-right: 5px;
   font-weight: 400;
   font-size: 15px;
   transition: all 0.3s ease 0s;
   cursor: pointer;
   padding-top: 20px;
   padding-bottom: 20px;
}

.faq .faq-card .faq-card-header .faq-title .badge {
   display: inline-block;
   width: 20px;
   height: 20px;
   border-radius: 100px;
   text-align: center;
   background-image: linear-gradient(to right,#7819bb, #625cc0);
   color: #fff;
   font-size: 12px;
   margin-right: 13px;
}

.faq .faq-card .faq-card-body p {
   color: #3d4351;
   font-size: 14px;
   margin-bottom: 30px;
}
