.junior {
   padding: 10%;
   background-color: #1a1a1a;
   position: relative;
}
.Jarrow {
   opacity: 0;
   color: #fff;
   -webkit-transform: scale(0.1);
   transform: scale(0.1);
   -webkit-transition: all 0.2s ease;
   transition: all 0.2s ease;
   z-index: 100;
   position: absolute;
   right: 30px;
   bottom: 0px;
   font-size: 90px;
   font-weight: 900;
   cursor: pointer;
}

.Jcard {
   position: relative;
   width: 70vw;
   height: 400px;
   background-color: #fff;
   overflow: hidden;
   margin-bottom: 4px;
}
.Jheading {
   z-index: 5;
   font-family: "Montserrat", sans-serif;

   position: absolute;
   bottom: 0;
   right: 95px;
   font-size: 65px;
   font-weight: 800;
   color: #0a0a0a;
}

.Jpic {
   z-index: 100;
   width: 70vw;
   height: 500px;
   background-image: url("https://image.freepik.com/free-vector/happy-children-jumping-summer-meadow_74855-5852.jpg");
   background-size: 100% 100%;
   filter: grayscale(50%);
}
.Jbutton {
   position: absolute;
   right: 30px;
   bottom: 23px;
   width: 37px;
   height: 37px;
   background-color: #136077;
   border: none;
   border-radius: 30px;
   cursor: pointer;
   outline: none;
   transition: all 0.3s ease;
   mix-blend-mode: hard-light;
}
.Jcard:hover .Jarrow {
   opacity: 1;
   -webkit-transform: scale(1);
   transform: scale(1);
}
.Jcard:hover button {
   transform: scale(16.5);
}
.Jcard button:focus {
   border: none;
   outline: none;
}
.Jcard:hover .Jpic {
   filter: grayscale(0);
}

@media only screen and (max-width: 900px) {
   /* Junior */
   .Jheading {
      left: 45px;
      font-size: 55px;
      right: 70px;
      bottom: 7px;
   }
   .Jarrow {
      font-size: 70px;
      bottom: 8px;
      right: 25px;
   }
}

@media only screen and (max-width: 500px) {
   /* Junior */
   .Jheading {
      left: 20px;
      font-size: 40px;
      right: 60px;
      bottom: 10px;
   }
   .Jarrow {
      font-size: 65px;
      right: 34px;
   }
   .Jbutton {
      right: 20px;
   }
}


/*.custom-shape-divider-top-1622203390 {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
}

.custom-shape-divider-top-1622203390 svg {
   position: relative;
   display: block;
   width: calc(109% + 1.3px);
   height: 154px;
}

.custom-shape-divider-top-1622203390 .shape-fill {
   fill: #FFFFFF;
}


@media (max-width: 767px) {
   .custom-shape-divider-top-1622203390 svg {
       width: calc(123% + 1.3px);
       height: 118px;
   }
}*/

.custom-shape-divider-bottom-1622204843 {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   transform: rotate(180deg);
}

.custom-shape-divider-bottom-1622204843 svg {
   position: relative;
   display: block;
   width: calc(108% + 1.3px);
   height: 150px;
}

.custom-shape-divider-bottom-1622204843 .shape-fill {
   fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
   .custom-shape-divider-bottom-1622204843 svg {
       width: calc(124% + 1.3px);
       height: 150px;
   }
}
