.about {
   padding: 10%;
}

.rewards {
   padding: 5%;
}

/*--------------------------------- Problem Statement ---------------------------------*/
.problem-stmt-row {
   margin-top: 5%;
}
.card-container {
   position: relative;
   perspective: 200rem;
   height: 300px;
}
.card {
   margin-left: 2%;
   margin-right: 2%;
   position: absolute;
   height: 90%;
   width: 75%;
   transition: all 1.5s;
   backface-visibility: hidden;
}
.card-img-top {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.card-container:hover .card-front {
   transform: rotateY(180deg);
}

.card-container:hover .card-back {
   transform: rotateY(0deg);
}

.card-back {
   padding: 10%;
   transform: rotateY(180deg);
}

.card-back .card-body {
   position: relative;
}
