/** --------------------------------------------------- For mobile devices ---------------------------------------------------**/
@media (min-device-width: 20px) and (max-device-width: 500px) {
   html,
   body {
      overflow-x: hidden;
   }
   .heading {
      font-size: 32px;
   }

   .content {
      font-size: 15px;
   }

   /*------------ Ibeto main page ------------*/
   /* landing page */
   .animation-container {
      width: 100vw;
   }
   /* Event Format */
   .phase {
      margin: 5%;
      text-align: center;
      margin-left: 12%;
      margin-bottom: 5%;
      margin-right: 12%;
   }

   /* Rewards */
   .rewards-row {
      margin-left: 10%;
      margin-right: 10%;
   }
   .mainsite-timeline-row {
      padding-top: 15%;
   }

   /* Junior */
   .Jheading {
      left: 20px;
      font-size: 40px;
      right: 60px;
      bottom: 10px;
   }
   .Jarrow {
      font-size: 65px;
      right: 10px;
   }
   .Jbutton {
      right: 20px;
   }
   /* Testimonials */
   .testimonial-row {
      padding: 0%;
   }

   .testimonial-content {
      padding-right: 0%;
      padding-left: 0%;
      font-size: 13px !important;
   }
   .carousel-indicators {
      display: none;
   }
   .carousel-control {
      margin-top: 18%;
   }

   /* Sponsers */

   #Sponsors .client-logo {
      padding: 30px;
   }
   /* FAQ */
   .accordion {
      padding-left: 10%;
      padding-right: 10%;
   }
   .accordion button .icon {
      width: 3px;
      height: 3px;
   }
   .accordion button .accordion-title {
      padding: 0.4em 0.4em 0.6em 0;
   }
   .accordion-title,
   .collapse {
      font-size: 15px;
   }
}

/** --------------------------------------------------- For tablet devices ---------------------------------------------------**/
@media (min-device-width: 501px) and (max-device-width: 800px) {
   /*Landing page wave*/
   .wave-shape-divider svg {
      width: calc(147% + 1.3px);
      height: 110px;
   }
   .card-container {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .phase {
      margin: 5%;
      margin-left: 5%;
      margin-right: 5%;
      text-align: center;
   }
   /* timeline */
   .mainsite-timeline-row {
      padding-top: 15%;
   }
   .mainsite-timeline-title {
      font-size: 16px;
   }
}

/**--------------------------------------------------- For desktop devices ----------------------------------------------------- **/

@media (min-device-width: 800px) and (max-device-width: 1800px) {
   body {
      overflow-x: hidden;
   }
   /* Event format */
   .event-format {
      margin-left: 5%;
      margin-right: 5%;
   }
}

/**--------------------------------------------------- For Larger screen devices ----------------------------------------------------- **/
@media (min-width: 1900px) and (max-width: 3000px) {
   body {
      overflow-x: hidden;
   }
   .heading {
      font-size: 60px;
   }

   .content {
      font-size: 25px;
   }
   /* IBETO MAIN SITE */
   .wave-shape-divider svg {
      width: calc(140% + 1.3px);
      height: 191px;
   }

   /* event format */
   .event-format-content {
      font-size: 25px;
   }
}
