/** --------------------------------------------------- For mobile devices ---------------------------------------------------**/
@media only screen and (min-device-width: 20px) and (max-device-width: 480px) {
   html,
   body {
      overflow-x: hidden;
   }
   /* ------------ Dashboard ------------ */
   .dashboard-row {
      margin-right: 5%;
      margin-left: 5%;
      width: 80%;
      margin-left: 10%;
   }
   .timeline-row,
   .contactUs-row {
      display: none;
   }
   iframe {
      width: 100%;
   }
   .faq-row {
      width: 110%;
      margin-left: 0px;
   }
   /*------------ Ibeto main page ------------*/
   /* landing page */
   .animation-container {
      width: 100vw;
   }
   /* Event Format */
   .phase {
      margin: 5%;
      border-radius: 0px;
      text-align: center;
   }

   /* Testimonials */
   .testimonial-row {
      padding: 0%;
   }

   .ibeto-testimonial p {
      padding-right: 0%;
      padding-left: 0%;
      font-size: smaller;
   }

   /* Sponsers */

   #Sponsors .client-logo {
      padding: 30px;
   }
}

/** --------------------------------------------------- For tablet devices ---------------------------------------------------**/
@media only screen and (min-device-width: 481px) and (max-device-width: 800px) {
   /*Landing page wave*/
   .wave-shape-divider svg {
      width: calc(147% + 1.3px);
      height: 110px;
   }
   .card-container {
      display: flex;
      justify-content: center;
      align-items: center;
   }
}

/**--------------------------------------------------- For desktop devices ----------------------------------------------------- **/

@media only screen and (min-device-width: 800px) and (max-device-width: 1800px) {
   body {
      overflow-x: hidden;
   }
   /* Event format */
   .event-format {
      margin-left: 5%;
      margin-right: 5%;
   }
}

/**--------------------------------------------------- For Larger screen devices ----------------------------------------------------- **/
@media screen and (min-width: 1900px) and (max-width: 3000px) {
   body {
      overflow-x: hidden;
   }
   .heading {
      background: blue;
      font-size: 60px;
   }

   .content {
      font-size: 25px;
   }
   /* IBETO MAIN SITE */
   .wave-shape-divider svg {
      width: calc(140% + 1.3px);
      height: 191px;
   }

   /* event format */
   .event-format-content {
      background: blue;
      font-size: 25px;
   }
}
