.rewards{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rimage{
    float: left; 
    align-content: center;
    width: 300px;

}

.Rtext{
    margin-left: 20px;
    float: right;
}
  

li{
    padding-bottom:7px;

}





 