.testimonial-row {
   padding: 7%;
   text-align: center;
   color: #0f0f0f;
}

#quote-carousel .carousel-indicators {
   position: relative;
   top: auto;
   bottom: 0px;
   margin-top: 20px;
}
#quote-carousel .carousel-indicators li {
   width: 50px;
   height: 50px;
   cursor: pointer;
   border: 1px solid #ccc;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
   border-radius: 50%;
   opacity: 0.4;
   overflow: hidden;
   transition: all 0.4s ease-in;
}

.carousel-indicators {
   z-index: 0;
}

#quote-carousel .carousel-indicators .active {
   width: 100px;
   height: 100px;
   opacity: 1;
   transition: all 0.2s;
}
.ibeto-testimonial blockquote p:before {
   content: "\f10d";
   font-family: "Fontawesome";
   float: left;
   margin-right: 10px;
   color: rgb(146, 23, 99);
   font-size: larger;
}
.ibeto-testimonial p {
   padding-right: 20%;
   padding-left: 20%;
}
