/*--------------------------- LEFT SECTION: mainsite-timeline --------------------------- */
.mainsite-timeline-row {
   margin: auto;
   padding-left: 15%;
   padding-right: 10%;
}
.mainsite-timeline {
   line-height: 1.4em;
   list-style: none;
   margin: 0;
   padding: 0;
   width: 100%;
   color: #768390;
}
.mainsite-timeline-title {
   color: #6e526e;
   margin-top: 0;
   line-height: inherit;
   font-size: 18px;
   font-family: "Raleway", sans-serif;
}

/*----- mainsite-timeline ITEM -----*/
.mainsite-timeline-item {
   position: relative;
   padding: 0px;
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 10px;
}
.mainsite-timeline-item:last-child {
   padding-bottom: 0;
}

/*----- mainsite-timeline INFO -----*/
.mainsite-timeline-info {
   font-weight: 700;
   letter-spacing: 3px;
   margin: 0 0 0.5em 0;
   text-transform: uppercase;
   white-space: nowrap;
}

/*----- mainsite-timeline MARKER -----*/
.mainsite-timeline-marker {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   width: 15px;
}
.mainsite-timeline-marker:before {
   background: #bb4787;
   border: 3px solid transparent;
   border-radius: 100%;
   content: "";
   display: block;
   height: 15px;
   position: absolute;
   top: 4px;
   left: 0;
   width: 15px;
   transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.mainsite-timeline-marker:after {
   content: "";
   width: 3px;
   background: #ccd5db;
   display: block;
   position: absolute;
   top: 24px;
   bottom: 0;
   left: 6px;
}
.mainsite-timeline-item:last-child .mainsite-timeline-marker:after {
   content: none;
}

.mainsite-timeline-item:not(.period):hover .mainsite-timeline-marker:before {
   background: transparent;
   border: 3px solid #bb4787;
}

/*----- mainsite-timeline CONTENT -----*/
.mainsite-timeline-content {
   padding-bottom: 3%;
   font-size: 14px;
   width: 100%;
   font-family: "Open Sans", sans-serif;
}
.mainsite-timeline-content p:last-child {
   margin-bottom: 0;
}
