.carousel-control {
  left: -2px;
}
.carousel-control.right {
  right: -2px;
}
.whyparticipate-maindiv {
  margin-left: 10%;

 
}
.whyparticipate-div {
  margin: 1%;
  margin-top: 1%;
  margin-bottom: 5%;
  padding-top:4%;

  border-radius: 6px;
  border-top: 3px solid rgb(146, 23, 99);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px -4px 8px rgba(255, 255, 255, 0.8);
}
.whyparticipate-div:hover{
  transition: all 0.8s;
  transform:scale(1.04);
 background:rgb(250, 250, 250);
 
 border: 1px solid rgb(146, 23, 99);
}
.whyparticipate-img {
  display: block;


  width: 30%;
  
  
  margin-left: auto;
  
  
  margin-right: auto;

}
.whyparticipate-img-smallscreen {
  width: 50%;
}
.carousel-control-prev,
.carousel-control-next {
 
  color: #424141;
  font-size: 4em;
  text-decoration: none;
}
.carousel-control-prev:link ,
.carousel-control-next:link {
  color: #494848;
  font-size: 4em;
  text-decoration: none;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  color: rgb(146, 23, 99);
}

.whyparticipate-smallscreen-div{
  text-align: center;
  padding:30%;
  width:75%;
  margin-left: 13%;
  margin-right: 13%;
  margin: auto;
  padding: auto;
  border-radius: 6px;
  border-top: 3px solid rgb(41, 12, 30);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px -4px 8px rgba(255, 255, 255, 0.8);
  margin-bottom: 20%;
}

.whyparticipate-img-smallscreen{
  margin-top: 5%;
  margin-bottom: 3%;
}


